// css header
.header {
  .container-fluid {
    position: fixed;
    z-index: 1;
    max-width: $container-max-width;
  }
  &__top {
    @include mid(true);
    justify-content: space-between;
    height: var(--height-header);
    &-logo {
      max-width: 177px;
      .hidden {
        display: none;
      }
    }
    &-menu {
      @include mid(true);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      li {
        height: 100%;
        margin-right: 7rem;
        &:last-child {
          margin-right: 0;
        }
        a {
          @include text(
            var(--body15-fs),
            $primary-font-b,
            var(--body15-lh),
            $white-cl,
            uppercase
          );
          letter-spacing: 0.4px;
          @include mid(true);
          height: 100%;
          position: relative;
          overflow: hidden;
          &:hover {
            opacity: 0.75;
            visibility: visible;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 20px;
            height: 2px;
            width: 100%;
            background-color: $white-cl;
            @include transform(scaleX(0));
            @include transition(0.3s);
          }
          &:hover {
            &:after {
              @include transform(scaleX(1));
              // @include transform-origin(bottom);
            }
          }
        }
      }
    }
  }
  &__lang {
    height: 100%;
    @include mid(true);
    cursor: pointer;
    &-current {
      @include text(var(--body16-fs), $primary-font-b, var(--body16-lh), $white-cl, none);
      i {
        img {
          width: 11px;
        }
      }
    }
    &-other {
      background: white;
      position: absolute;
      right: 30px;
      top: 60px;
      width: 80px;
      height: 80px;
      text-align: right;
      padding-right: 15px;
      display: au;
      height: auto;
      line-height: 30px;
      @include visible();
      &.is-active {
        @include visible(1);
      }
    }
  }
  .hambuger{
    display: none;
  }

  @include md() {
    &__top {
      &-menu {
        display: none;
      }
      .hambuger{
        display: none;
      }
    
    }
  }
}
