// css header
.header {
  --widthLogo: 177px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  .container-fluid {
    max-width: $container-max-width;
  }
  @include transition($t);
  &.is-active {
    background-color: $black-cl;
    @include transition($t);
  }
  &__top {
    @include mid(true);
    justify-content: space-between;
    height: var(--height-header);
    &-logo {
      display: flex;
      align-items: center;
      max-width: var(--widthLogo);
      .hidden {
        display: none;
      }
      a {
        display: flex;
      }
    }
    &-menu {
      @include mid(true);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      li {
        height: 100%;
        margin-right: 60px;
        &:last-child {
          margin-right: 0;
        }
        a {
          height: 100%;
          @include text(
            var(--body15-fs),
            $main-font-b,
            var(--body15-lh),
            $white-cl,
            uppercase
          );
          letter-spacing: 0.4px;
          @include mid(true);
          position: relative;
          overflow: hidden;
          &:hover {
            opacity: 0.75;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 20px;
            @include size(100%, 2px);
            background-color: $white-cl;
            @include transform(scaleX(0));
            @include transition($t);
          }
          &:hover {
            &:after {
              @include transform(scaleX(1));
            }
          }
          &.is-active {
            color: $yellow-cl;
          }
        }
      }
    }
  }
  &-left {
    @include mid(true);
    height: 100%;
  }
  &__lang {
    position: relative;
    height: 100%;
    @include mid(true);
    cursor: pointer;
    &-current {
      height: 100%;
      @include mid(true);
      @include text(
        var(--body16-fs),
        $main-font-b,
        var(--body16-lh),
        $white-cl,
        none
      );
      i {
        padding-left: 5px;
        display: flex;
        height: 0;
        img {
          align-self: center;
          width: 11px;
        }
      }
    }
    &-other {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      background: $white-cl;
      position: absolute;
      right: 0;
      top: 60px;
      @include size(60px);
      text-align: center;
      height: auto;
      line-height: 30px;
      @include visible(0);
      font-weight: bold;
    }
    &.is-active {
      .header__lang-current {
        span {
          color: $yellow-cl;
        }
      }
      .header__lang-other {
        @include visible(1);
        span {
          &:hover {
            color: $yellow-cl;
          }
        }
      }
    }
  }
  .hambuger {
    display: none;
  }
  @include md() {
    --widthLogo: 150px;
    &__top {
      &-menu {
        li {
          margin-right: 40px;
        }
      }
    }
    &__lang {
      margin-right: 15px;
    }
  }
  @include sm() {
    &__top {
      --height-header: 50px;
      &-menu {
        display: none;
      }
      .hambuger {
        height: 100%;
        cursor: pointer;
        width: 25px;
        @include mid(true);
        span {
          position: relative;
          height: 100%;
          background-color: $white-cl;
          cursor: pointer;
          @include size(35px, 2px);
          @include transition($t);
          &.is-active {
            background-color: inherit;
          }
          &::before,
          &::after {
            content: "";
            top: -6px;
            height: 2px;
            width: 100%;
            background-color: $white-cl;
            position: absolute;
            // -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
          }
          &::after {
            top: 6px;
          }
          &.is-active {
            &::before {
              top: 0;
              transform: rotate(45deg);
              background: $white-cl;
            }
            &::after {
              top: 0;
              transform: rotate(135deg);
              background: $white-cl;
            }
          }
        }
      }
    }
    &__lang {
      &-current {
        i img {
          width: 15px;
        }
      }
      &-other {
        top: 50px;
      }
    }
  }
}
