// css navigator (Menu)
.nav {
  display: none;
  @include visible(0);
  cursor: pointer;
  &.is-active {
    @include visible(1);
  }
  ul {
    text-align: center;
    li {
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include sm() {
  .nav {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: $gray-cl;
    width: 100%;
    height: 100%;
    margin-top: var(--height-header);
    @include mid(true);
  }
}

@include xs {
  .nav {
    ul {
      li {
        margin-bottom: 30px;
      }
    }
  }
}
