//======================================================BOXED LAYOUT=======================================================

$container-max-width: 2400px;
$container-width: 1005px; // tùy thuộc vào container của bản thiết kế // $container-width = container (đo từ bản thiết kế) + 30px

/*GRID - media queries breakpoints*/
$xxs-min: 375px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop

//=====================================CÁC BIẾN KHÔNG THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE======================================
// colors - tuỳ chỉnh
$white-cl: #fff;
$black-cl: #000;

$gray-cl: #464646;
$gray-light-cl: #555555;
$gray-light-2-cl: #b0b0b0;
$yellow-cl: #bea67c;

// global text color
$text-cl: #010101;
$gray-text-cl: #464646;

//font
$main-font: "Pnr", sans-serif;
$main-font-b: "Pnb", sans-serif;
$main-font-e: "Pne", sans-serif;

$gradient-cl: linear-gradient(180deg, #df1cff 0%, #814bf6 50.55%, #00bcff 100%);

// timing transition - tuỳ chỉnh
$t: 0.4s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

// ========================================CÁC BIẾN CÓ THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE=====================================

:root {
    //=========== VÍ DỤ ============//

    // font-size & line-height heading

    --slider-h2-fs: 83px;
    --slider-h2-lh: 83px;
    --slider-h2-ls: 16.6px;

    --title-h2-fs: 40px;
    --title-h2-lh: 83px;
    --title-h2-ls: 2.8px;

    --h3-fs: 18px;
    --h3-lh: 24px;

    --body16-fs: 16px;
    --body16-lh: 22px;
    --body16-ls: 0.4px;

    --body15-fs: 15px;

    --body14-fs: 14px;
    --body14-ls: 2.8px;

    // Genaral Variable
    --gap: 30px; // gap này sử dụng cho gap cột & padding của container, container-fluid

    --height-header: 80px;
    --height-button: 50px;
    --pd-section: 90px;

    @media (max-width: $sm-max) {
        --title-h2-fs: 30px;

        --h3-fs: 15px;
        --h3-lh: 20px;
    }
    @media (max-width: $xs-max) {
        // Mobile
        --slider-h2-fs: 57px;
        --slider-h2-lh: 40px;
        --slider-h2-ls: 4px;

        --title-h2-fs: 25px;

        --body14-fs: 14px;
        --body14-ls: 2px;

        --height-header: 70px;
        --pd-section: 50px;
    }
}

