// CSS HOMEPAGE
.progressbar-top {
  @include size(0, 4px);
  background: $yellow-cl;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 210;
}

.slider {
  --slider-height: 100vh;
  position: relative;
  height: var(--slider-height);
  overflow: hidden;
  &__list {
    height: 100%;
    overflow: hidden;
    .flickity-viewport{
      height: 100% !important;
    }
    &-item {
      @include size(100%, 100%);
      &.is-active {
        display: block;
      }
      .img {
        @include size(100%);
        img {
          @include size(100%);
          object-fit: cover;
        }
      }
      .text {
        @include mid();
        text-align: center;
        .heading {
          @include text(
            var(--slider-h2-fs),
            $main-font-b,
            var(--slider-h2-lh),
            $yellow-cl,
            uppercase
          );
          letter-spacing: var(--slider-h2-ls);
          margin-bottom: 35px;
          @include visible(0);
          @include transition($t);
          @include transform(translateY(40px));
          transition-delay: calc(var(--delay));
        }
        .button {
          padding: 15px 45px;
          @include transition($t);
          @include visible(0);
          @include transform(translateY(40px));
          transition-delay: calc(var(--delay));
          img {
            width: 30px;
            margin-left: 15px;
            @include transition($t);
          }
          &:hover {
            img {
              margin-left: 20px;
              @include transition($t);
            }
          }
        }
      }
      &.is-selected {
        .text {
          .heading {
          @include visible(1);
          @include transition($t);
          @include transform(translateY(0));
          animation-duration: 6s;
          transition-delay: calc(var(--delay));
        }
        .button {
          @include visible(1);
          @include transition($t);
          @include transform(translateY(0));
          transition-delay: calc(var(--delay));
        }
        }
        
      }
    }
  }
  &__right {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    .container-fluid {
      @include mid(true);
      justify-content: space-between;
    }
    &-numbers {
      @include mid(true);
      .number {
        font-size: 42px;
        font-family: $main-font-b;
        color: $yellow-cl;
        letter-spacing: 1px;
        @include mid(true);
        &:before {
          content: "";
          @include size(40px, 4px);
          display: inline-block;
          background-color: $yellow-cl;
          margin-right: 15px;
          display: inline-block;
        }
      }
      .dotted {
        display: flex;
        cursor: pointer;
        margin-left: 10px;
        .flickity-page-dots {
          position: unset;
        }
      }
    }
    &-scroll {
      @include mid(true);
      flex-direction: column;
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
      .arrow {
        text-align: center;
        i {
          img {
            opacity: 1;
            animation: pathmove 2s forwards infinite;
          }
        }
      }
      @keyframes pathmove {
        0% {
          opacity: 0;
          @include transform(translateY(-10px));
          @include transition($t);
        }
        50% {
          opacity: 1;
          @include transform(translateY(30px));
          @include transition($t);
        }
        100% {
          opacity: 0;
          @include transform(translateY(40px));
          @include transition($t);
        }
      }
    }
    &-control {
      @include mid(true);
      justify-content: flex-end;
      height: 40px;
      .button {
        width: 60px;
        height: 100%;
        .arrow {
          width: 30px;
        }
        &.pre {
          @include transform(rotate(-180deg));
          margin-right: -1px;
        }
      }
    }
  }
  @include md() {
    &__list {
      &-item {
        .text {
          h2 {
            margin-bottom: unset;
          }
        }
      }
    }
  }
  @include xs() {
    --slider-height: 70vh;
    &__list {
      .flickity-viewport {
        width: 100%;
        height: 100%;
      }
      &-item {
        .text {
          .button {
            padding: 10px 20px;
          }
        }
      }
    }
    &__right {
      &-numbers {
        .number {
          font-size: 35px;
          &:before {
            display: none;
          }
        }
        .dotted {
          display: none;
        }
      }
      &-scroll {
        .mouse {
          display: none;
        }
      }
      &-control {
        height: 30px;
      }
    }
  }
}

.products {
  --wImg: 520px;
  --gridGap: 65px;
  .product {
    display: grid;
    grid-template-columns: 1fr var(--wImg);
    grid-gap: var(--gridGap);
    word-break: break-all;
    &__content {
      .product-info{
        max-width: 290px;
      }
    }
    &.--last {
      grid-template-columns: var(--wImg) 1fr;
      padding-top: 100px;
      .product__content {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      .product__img {
        grid-column: 1/2;
        grid-row: 1/2;
      }
    }
  }
  @include sm {
    --wImg: 370px;
    --gridGap: 30px;
  }
  @include xs {
    --gridGap: 30px;
    .product {
      grid-template-columns: 1fr;
      &__content {
        grid-row: 2/3;
      }
      &__img {
        grid-row: 1/2;
      }
      &.--last {
        grid-template-columns: 1fr;
        padding-top: 50px;
        .product__content {
          grid-column: initial;
          grid-row: 2/3;
        }
        .product__img {
          grid-column: initial;
          grid-row: 1/2;
        }
      }
    }
  }
}

.quality {
  padding-top: var(--pd-section);
  &__top {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &-info {
      max-width: 465px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__content {
    margin: 60px 90px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    &-list {
      margin-left: auto;
      margin-right: auto;
      .media {
        @include size(200px);
        max-width: 400px;
        max-height: 400px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 50px;
        position: relative;
        -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        > img {
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
          @include mid();
          filter: brightness(100%);
          @include transition($t);
          &:hover {
            @include transition($t);
            filter: brightness(80%);
          }
        }
        .play-btn {
          z-index: 10;
          @include mid();
          @include size(60px);
          border-radius: 50%;
          background: $yellow-cl;
          opacity: 0.8;
          img {
            @include mid();
            @include transition($t);
            @include transform(scale(1) translate(-50%, -50%));
          }
        }
        &:hover {
          img {
            @include transition($t);
            @include transform(scale(1.05) translate(-50%, -50%));
          }
        }
        &:after {
          content: "";
          width: calc(100% + 15px);
          height: calc(100% + 15px);
          border: 15px solid #fff;
          border-radius: 50%;
          @include mid();
        }
      }
      .desc {
        position: relative;
        text-align: center;
        &:before {
          content: "";
          background-color: $yellow-cl;
          height: 2px;
          width: 20px;
          position: absolute;
          bottom: 45px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  @include md() {
    &__content {
      margin-left: auto;
      margin-right: auto;
      grid-gap: 40px;
    }
  }
  @include xs() {
    &__content {
      grid-template-columns: 1fr;
      &-list {
        @include mid(true);
        flex-direction: column;
      }
    }
  }
}

.video {
  --pd-bottom-img: 36.5%;
  --mW-heading: 450px;
  position: relative;
  &__img {
    position: relative;
    height: 0;
    padding-bottom: var(--pd-bottom-img);
    img {
      @include size(100%);
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  .container {
    height: 100%;
  }
  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &-heading {
      max-width: var(--mW-heading);
      letter-spacing: 1px !important;
      margin-bottom: 25px;
    }
    &-info {
      color: $white-cl;
      margin-bottom: 45px;
      max-width: 550px;
      margin-right: 5px;
    }
    &-btn {
      display: inline-flex;
      @include mid(true);
      height: 46px;
      max-width: 220px;
      width: 100%;
      span {
        line-height: normal;
      }
      img {
        margin: unset;
        padding-right: 15px;
      }
    }
  }
  @include md() {
    --pd-bottom-img: 50%;
  }
  @include sm() {
    --pd-bottom-img: 70%;
    --mW-heading: 340px;
  }
  @include xs() {
    --pd-bottom-img: 100%;
    --mW-heading: 280px;
    &__content {
      &-btn {
        max-width: 220px;
        span {
          font-size: 13px;
        }
      }
    }
  }
}

.popup-video {
  z-index: 800;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  display: none;
  .popup-wrap {
    max-width: 75%;
    width: 100%;
    position: relative;
    padding: 30px;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
  }
  &__iframe {
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
  }
  .close:before,
  .close:after {
    content: "";
    position: absolute;
    right: 0;
    top: -4%;
    width: 5px;
    height: 25px;
    background: #fff;
    border-radius: 2.5px;
    cursor: pointer;
  }
  .close:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.about {
  &__inner {
    @include mid(true);
    &-img {
      flex-basis: 50%;
    }
    &-content {
      flex-basis: 50%;
      padding-left: 70px;
      .about-heading {
        line-height: normal;
        &.title-text:before {
          left: -30px !important;
        }
      }
      .info {
        max-width: 334px;
        // word-break: break-all;
      }
      .about-btn {
        img {
          margin: unset;
        }
      }
    }
  }

  @include sm() {
    &__inner {
      &-content {
        padding-left: 30px;
      }
    }
  }
  @include xs() {
    &__inner {
      flex-direction: column;
      align-items: flex-start;
      &-content {
        padding-top: 30px;
        flex-basis: unset;
        padding-left: unset;
        .about-heading {
          margin-left: unset;
        }
      }
    }
  }
}

.gallery {
  margin-top: var(--mr-section);
  background-color: $black-cl;
  color: $white-cl;
  padding-top: 8.5rem;
  padding-bottom: 9.5rem;
  &__content {
    &-heading {
      line-height: normal;
    }
    &-info {
      max-width: 440px;
      padding: 10px 0 45px;
    }
  }
  &__imgs {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    &-item {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        @include transition($t);
        @include transform(scale(1));
        &:hover {
          @include transition($t);
          filter: grayscale(1);
          -webkit-filter: grayscale(1);
          -moz-filter: grayscale(1);
          @include transform(scale(0.95));
        }
      }
      &.item1 {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      &.item2 {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      &.item3 {
        grid-column: 2/3;
        grid-row: 1/3;
      }
      &.item4 {
        grid-column: 3/4;
        grid-row: 1/2;
      }
      &.item5 {
        grid-column: 3/4;
        grid-row: 2/3;
      }
    }
  }
  @include xs() {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    &__imgs {
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      &-item {
        &.item2 {
          grid-column: 1/2;
          grid-row: 2/3;
        }
        &.item3 {
          grid-column: 2/3;
          grid-row: 1/3;
        }
        &.item4 {
          grid-column: 1/2;
          grid-row: 3/4;
        }
        &.item5 {
          grid-column: 2/3;
          grid-row: 3/4;
        }
      }
    }
  }
}

.news {
  &__content {
    &-heading {
      line-height: normal;
    }
    &-info {
      margin-bottom: 20px;
      max-width: 440px;
    }
  }
  &__tag {
    &-text {
      .tag {
        cursor: pointer;
        padding: 10px 20px;
        background-color: #eeeeee;
        display: inline-block;
        margin-bottom: 30px;
        @include text(
          var(--body16-fs),
          $main-font-b,
          var(--body16-lh),
          $black-cl,
          none
        );
        &.is-active {
          background-color: $yellow-cl;
          color: $white-cl;
        }
        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    display: none;
    &-item {
      overflow: hidden;
      .img {
        position: relative;
        height: 0;
        padding-bottom: 65%;
        cursor: pointer;
        img {
          @include size(100%);
          object-fit: cover;
          @include mid();
          @include transition($t);
          @include transform(scale(1) translate(-50%, -50%));
          &:hover {
            @include transition($t);
            @include transform(scale(1.03) translate(-50%, -50%));
          }
        }
      }
      .content {
        .title {
          max-width: 260px;
          position: relative;
          margin-bottom: 10px;
          a {
            @include text(
              var(--h3-fs),
              $main-font-b,
              var(--h3-lh),
              $black-cl,
              uppercase
            );
            height: 42px;
            @include overtext(2);
            @include transition($t);
            &:hover {
              @include transition($t);
              color: $yellow-cl;
            }
          }
          &:before {
            content: "";
            background-color: $yellow-cl;
            @include size(85px, 3px);
            display: block;
            margin: 25px 0 20px 0;
          }
        }
        .desc {
          @include overtext(3);
        }
      }
    }
    &.is-active {
      display: grid;
    }
  }
  @include xs() {
    --mrLine: 12px;
    &__list {
      grid-template-columns: 1fr;
      &-item {
        &:not(:last-child) {
          margin-bottom: 25px;
        }
        .content {
          .title {
            max-width: inherit;
            a {
              height: auto;
              @include overtext(initial);
            }
            &:before {
              margin: 17px 0 12px 0;
            }
          }
          .desc {
            @include overtext(initial);
          }
        }
      }
    }
  }
}

// FAQ-phần luyện tập thêm
.faqs {
  padding-bottom: var(--pd-section);
  .fag {
    &__wrap {
      padding-top: 15px;
    }
    &__title {
      @include text(var(--h3-fs), $main-font-b, var(--h3-lh), $black-cl, none);
      height: 60px;
      display: flex;
      align-items: center;
      background-color: #f6f6f6;
      padding-left: 20px;
      width: 100%;
      cursor: pointer;
      position: relative;
      margin-bottom: 10px;
      @include transition($t);
      &:hover {
        background-color: #eeeeee;
        @include transition($t);
      }
    }
    &__content {
      max-height: 0;
      padding: 0 20px;
      @include transition($t);
      overflow: hidden;
      p {
        padding: 10px 0 20px;
      }
    }
  }
}

.photos {
  --hPhoto: 500px;
  padding-bottom: var(--pd-section);
  .photo {
    padding-bottom: 50px;
    img {
      height: var(--hPhoto);
      margin: 0 12px;
    }
  }
  .timeline {
    position: relative;
    height: 5px;
    background-color: #bcbcbc;
    width: 15%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    &__progressbar {
      background-color: $yellow-cl;
      position: absolute;
      height: 100%;
      left: 0;
      width: 10px;
    }
  }
  @include xs(){
    --hPhoto: 300px;
  }
}

// form - phan luyen tap them
.form {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 50%;
  transform: translateX(-5%);
  margin-bottom: 100px;
  &__group {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    &-control {
      width: 200px;
    }
    input {
      span {
        color: red;
      }
    }
  }
}
